<!DOCTYPE html>
<html>
<head>
  <title>Gitlab - Merge Requests Filter</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <h1>Pending Gitlab Merge Requests</h1>
    <projects></projects>
  </div>

  <script>
    new Vue({
      el: '#app',
      components: {
        Projects: {
          name: 'projects',
          template: `
            <div class="projects">
              <h2>Waiting for approvals / merge</h2>
              <ul>
                <li v-for="project in projects">
                  <merge-requests :wip="false" v-bind:project="project"></merge-requests>
                </li>
              </ul>
              <h2>In progress</h2>
              <ul>
                <li v-for="project in projects">
                  <merge-requests :wip="true" v-bind:project="project"></merge-requests>
                </li>
              </ul>
            </div>`,
          data () {
            return {
              projects: []
            }
          },
          created () {
            this.fetchPosts()
          },
          methods: {
            fetchPosts () {
              fetch('list')
                .then(res => res.json())
                .then(projects => this.projects = projects)
                .then(() => Promise.all(this.projects.map((project, index) => fetch('project/' + project.id)
                  .then(res => res.json())
                  .then(projectReceived => {
                    this.projects.splice(index, 1, Object.assign({}, project, projectReceived))
                  })
                )))
            }
          },
          components: {
            MergeRequests: {
              name: 'merge-requests',
              props: ['project', 'wip'],
              template: `
                <div v-if="hasContent">
                  <h3><a :href="project.web_url" target="_blank">{{project.path_with_namespace || project.id}}</a></h3>
                  <ul>
                    <li v-for="mergeRequest in mergeRequests">
                      - <a :href="mergeRequest.web_url">{{mergeRequest.title}}</a>
                      <span v-if="mergeRequest.left"> - {{mergeRequest.left}}</span>
                    </li>
                  </ul>
                </div>`,
              computed: {
                hasContent: function() {
                  return this.mergeRequests && this.mergeRequests.length > 0
                },
                mergeRequests: function() {
                  this.project.mergeRequests.forEach(mergeRequest => {
                    if (!mergeRequest.work_in_progress) {
                      fetch(`approvals/${this.project.id}/${mergeRequest.iid}`)
                        .then(res => res.json())
                        .then(res => mergeRequest.left = res.left)
                    }
                  })
                  return this.project.mergeRequests.filter(mergeRequest => mergeRequest.work_in_progress === this.wip)
                }
              }
            }
          }
        }
      }
    })
  </script>

  <style>
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      text-align: center;
      color: #2c3e50;
      margin-top: 20px;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin: 0 10px;
    }
    li > a {
      color: #308f68;
    }
  </style>
</body>
</html>
